# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = knoxjohn
#	email = knoxjohn@amazon.com
[user]
	name = John Knox
	email = knoxjohn@amazon.com
[branch]
	autosetuprebase = always
[push]
	default = simple
[color]
	ui = true
[core]
	pager = less -FMRiX
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
        s = status
[amazon]
	append-cr-url = true
	pull-request-by-default = true
